.signupPage {
  display: flex;
  height: fit-content;
  width: 100vw;
  background-color: #fff;
  
}

.signupLeft {
  width: 30%;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
    justify-content: center;
    padding: 50px;
    padding-right: 200px;
  clip-path: polygon(0 0, 85% 0, 70% 100%, 0% 100%);
}

.signupRight {
  width: 70%;
  
  background-color: #fff;
  display: flex;
  overflow-y:scroll;
  
}

.signupLeft h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.signupLeft p {
  font-size: 1.2rem;
  line-height: 1.5;
}
